[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cheap-repr = "*"
ipykernel = "*"
numpy = "*"
openai = "*"
requests = "*"
tabulate = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
tenacity = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pyright = "*"

[requires]
python_version = "3.11"
